
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">

        <a class="nav-link text-dark" asp-area="" asp-controller="Oath" asp-action="signUp">@User.FindFirst("UserFirstName").Value</a>
    </li>
    <li class="nav-item">

        <a class="nav-link text-dark" asp-area="" asp-controller="Oath" asp-action="logout">LogOut</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Oath" asp-action="signUp">Signup</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Oath" asp-action="login">login</a>
    </li>
}
